html {
    height: 100%;
}
body {
    overflow: hidden;
    min-height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(-45deg, #0a0b0c, #424444);
    display: grid;
    grid-template-rows: 10vh 75vh 15vh;
}

.body-wrapper{
    height: 100%;
    width: 100vw;
display: grid;
grid-template-columns: 2fr 1fr;
grid-template-rows: 100%;
}

.header-wrapper{
    background-color: black;
}

.body-text{
    margin: 10px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.body-text-text{
    overflow: hidden;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.699);
}
.CodePen-span-text{
    font-size:100%;
}
.body-text > .body-buttons{
    padding-top: 30px;
    padding: 10px;
    width: 80%;

}
.body-text > .body-buttons > button{
    max-height: 100px;

    border: none;
    border-radius: 8px;
}
.button-1{
    background-color: #4BCE79; color: black; width: 40%; height: 150%; font-size: 40px; margin-right: 30px;
}
.button-2{
    background-color: black; color: white; width: 30%; height: 155%; font-size: 40px;
}














.body-image{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.My-image{
    padding-bottom: 10px;
    height: 80%;
    filter: drop-shadow(0 0 0.75rem);
}

















.footer-wrapper{
    min-height: 70px;
display: grid;
padding-bottom: 100px;
grid-template-columns: 25% 25% 25% 25%;
}
.footer-wrapper > div{
    background-color: #36383F;
    border: solid 1px white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.808);
    font-size: 20px;
}
.WRITING-short{
    display: none;
}
.EDUCATION-short{
    display: none;
}
.PRIVACY-short{
    display: none;
}
.TEAMS-short{
    display: none;
}


@media only screen and (max-width: 1000px){
    body{
        overflow: visible;
        display: flex;
        flex-direction: column;
    }

    .body-wrapper{
        display: flex;
        flex-wrap: wrap;
    }

    .body-text{
        text-align: center;

    }

    .body-buttons{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .body-buttons > button{
        width: 40%;
        margin: 0;
    }
    .body-image{
        padding-top: 40px;

        width: 100%;
    }
    .footer-wrapper{
        grid-template-columns: 50% 50%;
        grid-row: 30vh 30vh;
        grid-row: inherit;
        font-size: 20px;
    }
    .footer-wrapper > span {
        font-size: 20px;
    }
}

@media only screen and (max-width:600px){
    .WRITING-short{
        display: inline;
    }
    .WRITING-long{
        display: none;
    }
    .EDUCATION-short{
        display: inline;
    }
    .EDUCATION-long{
        display: none;
    }
    .PRIVACY-short{
        display: inline;
    }
    .PRIVACY-long{
        display: none;
    }
    .TEAMS-short{
        display: inline;
    }
    .TEAMS-long{
        display: none;
    }
}



